@import url('https://fonts.googleapis.com/css2?family=Georama:ital,wght@0,100..900;1,100..900&display=swap');

@import "tailwindcss";

.container1{
    width: 90%;
    margin: 0 auto;
}
*{
      font-family: "Georama", sans-serif;
   
      box-sizing: border-box;
}
@theme {
  --breakpoint-xs: 300px; 
  --breakpoint-xr: 450px; 

}
.l{
  overflow-x: scroll;
}